{% load static %}

<!-- Header -->
<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a href="{% url 'home' %}" class="logo">
            <span class="symbol"><img src="{% static 'images/treble_logo.svg' %}" alt=""/></span><span class="title">AAMT</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu" id="menu-icon" onclick="changeMenuItems()">Menu</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#theory-menu" id="lessons-icon" onclick="changeTheoryMenuItems()">lessons</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>
</header>
<ul id="main_menu" style="display: none">
        {% if user.is_authenticated %}
        <li><a href="{% url 'dashboard' user.username %}">Your Dashboard</a></li>
        {% endif %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'theory' %}">Theory</a></li>
        <li><a href="{% url 'tone generator' %}">Tone Generator</a></li>
</ul>
<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul id="menu-content">

    </ul>
</nav>
<nav id="theory-menu" style="display: none">
    <h2>Lessons</h2>
    <ul id="theory-menu-content">
        <li><a href="{% url 'lesson1.1' %}">1.1 Notes in Western Music</a></li>
        <li><a href="{% url 'lesson1.2' %}">1.2 Notes on Your Guitar</a></li>
        <li><a href="{% url 'lesson1.3' %}">1.3 Tuning Up</a></li>

        <li><a href="{% url 'lesson2.1' %}">2.1 First Scale! (Chromatic)</a></li>

        <li><a href="{% url 'lesson3.1' %}">3.1 Tone Versus Semitone</a></li>
        <li><a href="{% url 'lesson3.2' %}">3.2 Major Scale</a></li>

        <li><a href="{% url 'lesson4.1' %}">4.1 Clefs, Staves, and Ledger Lines</a></li>
        <li><a href="{% url 'lesson4.2' %}">4.2 Note Durations and Ties</a></li>
        <li><a href="{% url 'lesson4.3' %}">4.3 Bar lines, Repeat Marks, and Time Signatures</a></li>
        <li><a href="{% url 'lesson4.4' %}">4.4 Dynamics and Tempo Markings</a></li>

        <li><a href="{% url 'lesson5.1' %}">5.1 Circle of Fifths/Fourths</a></li>

        <li><a href="{% url 'lesson6.1' %}">6.1 Intervals</a></li>
        <li><a href="{% url 'lesson6.2' %}">6.2 Major, Minor, Diminished, & Augmented Chords</a></li>
        <li><a href="{% url 'lesson6.3' %}">6.3 Suspended Chords</a></li>

        <li><a href="{% url 'lesson7.1' %}">7.1 Chord Families</a></li>

        <li><a href="{% url 'lesson8.1' %}">8.1 Cadences</a></li>

        <li><a href="{% url 'lesson9.1' %}">9.1 Chord Sequences/Chord Progressions</a></li>

        <li><a href="{% url 'lesson10.1' %}">10.1 Natural Minor Scale</a></li>
        <li><a href="{% url 'lesson10.2' %}">10.2 Harmonic Minor Scale</a></li>
        <li><a href="{% url 'lesson10.3' %}">10.3 Melodic Minor Scale</a></li>

        <li><a href="{% url 'lesson11.1' %}">11.1 Major Pentatonic Scale</a></li>
        <li><a href="{% url 'lesson11.2' %}">11.2 Minor Pentatonic Scale</a></li>
        <li><a href="{% url 'lesson11.3' %}">11.3 Blues Scale</a></li>

        <li><a href="{% url 'lesson12.1' %}">12.1 Sixth Chords</a></li>

        <li><a href="{% url 'lesson13.1' %}">13.1 Seventh Chords</a></li>
        <li><a href="{% url 'lesson13.2' %}">13.2 Sevenths Chord Family</a></li>
        <li><a href="{% url 'lesson13.3' %}">13.3 Arpeggios</a></li>
        <li><a href="{% url 'lesson13.4' %}">13.4 Building Extended Chords</a></li>

        <li><a href="{% url 'lesson14.1' %}">14.1 Intro to Modes/ Ionian (Major)</a></li>
        <li><a href="{% url 'lesson14.2' %}">14.2 Dorian</a></li>
        <li><a href="{% url 'lesson14.3' %}">14.3 Phrygian</a></li>
        <li><a href="{% url 'lesson14.4' %}">14.4 Lydian</a></li>
        <li><a href="{% url 'lesson14.5' %}">14.5 Mixolydian</a></li>
        <li><a href="{% url 'lesson14.6' %}">14.6 Aeolian (Minor)</a></li>
        <li><a href="{% url 'lesson14.7' %}">14.7 Locrian</a></li>
    </ul>
</nav>
